qitmeer-wallet
qitmeer-wallet.exe
qitmeer-wallet.exe~
build

config/*.toml
cmds/qitwallet/qitwallet

#golang
go.sum

#node
assets/statick/statick.go
assets/src/node_modules/
assets/src/package-lock.json

# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.exe*
*.*.bak
config.toml
