qitmeer-wallet
qitmeer-wallet.exe
qitmeer-wallet.exe~
build

config/*.toml
cmds/qitwallet/qitwallet

#golang
go.sum

#node
assets/statik/statik.go
assets/src/dist
assets/src/node_modules/
assets/src/package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.exe*
*.*.bak
config.toml
